/*
main.css - the main CSS
Copyright (C) 2021  William R. Moore <william@nerderium.com>
This program is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.
This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.
You should have received a copy of the GNU General Public License
along with this program.  If not, see <https://www.gnu.org/licenses/>.
*/

html, body {
    font-family: 'Roboto', 'sans-serif';
    background-color: #F5F5F5;
    padding-top: 2em;
    margin: 0;
}
  
.md-table-row {
    text-align: center;
}

#species {
    width: 25em;
}

#die-name {
    width: 25em;
}

#edition {
    width: 10em;
}

.text-center {
    text-align: center;
}

h1 {
    font-family: 'Assistant', 'sans-serif';
}

table {
    table-layout: fixed;
    border-collapse: collapse;
    margin-left: 5em;
    width: 90%;
    border: 1px solid black;
}

th, td {
    padding: 15px;
}

th {
    z-index: 1;
    top: 0px;
    background-color: #d81616;
    color: white;
    position: sticky;
}

table tbody tr:hover {
    background-color: #d81616;
    color: white;
}
  
table#rolls .name {
    width: 10%;
}
  
table#rolls .count {
    width: 5%;
    text-align: center;
}
table#rolls .edition {
    width: 5%;
    text-align: center;
}

table#rolls .species {
    width: 10%;
    text-align: center;
}
  