<!--
index.html - the HTML driver
Copyright (C) 2021  William R. Moore <caranmegil@gmail.com>
This program is free software: you can redistribute it and/or modify it under
the terms of the GNU General Public License as published by the Free Software
Foundation, either version 3 of the License, or (at your option) any later
version.
This program is distributed in the hope that it will be useful, but WITHOUT
ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS
FOR A PARTICULAR PURPOSE. See the GNU General Public License for more details.
You should have received a copy of the GNU General Public License along with
this program. If not, see <https://www.gnu.org/licenses/>.
-->

<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width,initial-scale=1">
        <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500" rel="stylesheet" defer>
        <link href="https://fonts.googleapis.com/css?family=Assistant" rel="stylesheet" defer>
        <link rel="stylesheet" href="https://unpkg.com/vue-material/dist/vue-material.min.css" defer>
        <link rel="stylesheet" href="https://unpkg.com/vue-material/dist/theme/default.css" defer>
        <link rel="stylesheet" href="./css/main.css" defer>
    </head>
    <body>

        <div id="app" class="content-wrapper">
            <div v-if="validInventory">
                <h1 class="text-center">My Dragon Dice Inventory</h1>
                <table id="rolls">
                    <thead>
                        <tr>
                            <th class="species">Species</th>
                            <th class="name">Name</th>
                            <th class="edition">Edition</th>
                            <th class="count">Amount Owned</th>
                        </tr>
                    </thead>
                    <tbody v-for="die in inventory">
                        <tr>
                            <td class="species">{{ die.species }}</td>
                            <td class="name">{{ die.name }}</td>
                            <td class="edition">{{ die.edition }}</td>
                            <td class="count">{{ die.amount }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12"></script>
        <script>
            new Vue({
                    el: '#app',
                    computed: {
                        validInventory () {
                            return this.inventory !== undefined && this.inventory.length;
                        }
                    },
                    data: {
                        inventory: []
                    }, mounted: async function () {
                        let inventory = this.inventory

                        const response = await fetch('./data/MyDDCollection.json');
                        const protoInventory = await response.json();

                        inventory = Object.keys(protoInventory).map( value => {
                            if (value !== undefined) {
                                const tokens = value.split(":");
                                let edition = "";
                                if (tokens.length == 3) {
                                    edition = tokens[2];
                                }

                                    return {
                                    species: tokens[0],
                                    name: tokens[1],
                                    edition,
                                    amount: protoInventory[value]
                                };
                            } else return {}
                        });

                        this.inventory = inventory;
                    }
                });
        </script>
    </body>
</html>
